<div
  data-scroll-controls
  class="select-none flex justify-between items-center mx-auto md:px-12 lg:px-32 pb-4 relative max-md:hidden"
>
  <div data-scroll-controls aria-hidden="true" class="relative w-full">
    <div
      class="top-full flex w-full touch-none items-center"
      data-scroll-bar
    >
      <div class="relative w-full h-[4px] bg-[#DDD6D7] transition-all ease-in-out">
        <button
          type="button"
          class="group/scrollbar absolute top-1/2 flex min-h-full cursor-grab items-center justify-center will-change-transform active:cursor-grabbing"
          data-scroll-bar-thumb
          aria-label="Scrollbar Thumb"
        >
          <span
            data-scroll-thumb-span
            class="block h-[4px] w-full bg-[#231F20] transition-all ease-in-out group-hover/scrollbar:h-[6px] rounded-md"
          ></span>
        </button>
      </div>
    </div>
  </div>
</div>
